@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Righteous", cursive, "Space Grotesk", sans-serif;
}

/* root vars */

:root {
  --lighter-color: #e0fcff;
  --light-color: #bde4f4;
  --dark-color: #ff7f50;
  --darker-color: #404969;
  --layout-padding: 0.5em;
  --control-admin-bg: yellow;
  --control-company-bg: green;
  --control-customer-bg: purple;
  --card-color: #40496990;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout areas */

.Header {
  background-color: var(--darker-color);
  padding: var(--layout-padding);
  color: var(--lighter-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Header img {
  width: 120px;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark-color);
  padding: var(--layout-padding);
  color: var(--lighter-color);
}
.Menu > a {
  color: var(--lighter-color);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 70% 30% 50% 10%;
  border-top: 1px inset var(--light-color);
  border-bottom: 3px outset var(--lighter-color);
  transition: 0.3s;
  font-size: 1.2em;
}
@media only screen and (min-width: 720px) {
  .Menu > a:hover {
    color: var(--light-color);
    background-color: var(--darker-color);
    text-decoration: none;
    border-radius: 30% 20% 90% 90%;
    border-top: 2px outset var(--lighter-color);
    border-bottom: 2px inset var(--light-color);
    padding-top: 0.2em;
  }
}

.Main {
  background-color: var(--light-color);
  padding: var(--layout-padding);
  color: var(--darker-color);
}

.Footer {
  background-color: white;
  padding: var(--layout-padding);
  color: var(--darker-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 4px solid var(--darker-color);
}

.Footer svg {
  margin: 0.2em;
}

/* global display classes */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* form display classes */

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form input[type="text"],
input[type="datetime-local"] {
  width: 200px;
  height: 25px;
}

form button {
  width: 100%;
  height: 25px;
  margin: 5px;
  border: none;
  background-color: #2270be;
  color: white;
  font-size: large;
}

form button:hover {
  background-color: #6186ab;
}

form button:disabled {
  cursor: not-allowed;
  background-color: #6186ab;
}

form span {
  color: red;
  font-weight: 700;
}

/* cards */

.CompanyCard,
.DeleteCompany,
.CustomerCard,
.DeleteCustomer,
.DeleteCoupon {
  display: flex;
  box-shadow: 8px 6px 8px -2px var(--darker-color);
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  background-color: var(--lighter-color);
  padding: 1em;
  padding-bottom: 0.1em;
  justify-content: center;
  align-items: center;
  border-radius: 10% 5%;
  border-bottom: 25px solid var(--card-color);
}

.showHide {
  padding: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--dark-color);
  color: var(--lighter-color);
  font-size: 1.1em;
  text-decoration: underline;
  transition: 0.3s;
}
.showHide:hover {
  color: var(--light-color);
  background-color: var(--darker-color);
  cursor: pointer;
}

.rendered-form h3,
.cardButton,
.buttons button {
  cursor: pointer;
  width: 100%;
  background-color: var(--darker-color);
  padding: 0.2em;
  border-radius: 0.6em;
  color: var(--lighter-color);
  border: outset 2px;
  width: fit-content;
}

.rendered-form h3:hover,
.cardButton:hover {
  filter: invert();
  transition: 0.4s;
  border: inset 2px;
}
.float {
  position: fixed;
  top: 10%;
  min-width: 40vh;
  min-height: 40vh;
  max-height: 80vh;
  box-shadow: 15px 10px 15px -2px var(--darker-color) !important;
  z-index: 100;
  opacity: 1 !important;
}
.float h2,
p,
h3 {
  margin: 0.2em;
}
.current * {
  pointer-events: all;
}
:has(.float) > .CompanyCard,
:has(.float) > .CustomerCard {
  opacity: 30%;
  box-shadow: none;
  pointer-events: none;
}

/* company cards coupons */

.companyCoupons,
.customerCoupons {
  max-height: 400px;
  overflow: auto;
  width: 70vh;
}
.companyCoupons::-webkit-scrollbar,
.customerCoupons::-webkit-scrollbar {
  width: 10px;
}

.companyCoupons::-webkit-scrollbar-track,
.customerCoupons::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-color);
  border-radius: 10px;
}

.companyCoupons::-webkit-scrollbar-thumb,
.customerCoupons::-webkit-scrollbar-thumb {
  background: var(--darker-color);
  border-radius: 7px;
}
.companyCoupons > p,
.customerCoupons > p {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding-bottom: 1em;
  background-color: var(--light-color);
  box-shadow: 7px 5px 7px -2px var(--darker-color);
}

.buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1vh;
}
.buttons button,
.cardButton {
  font-size: 1.2em;
  padding: 0.4em;
  display: flex;
  justify-items: center;
  align-items: center;
  font-family: "Righteous", cursive, "Space Grotesk", sans-serif;
}
.CouponCard p,
.PurchaseCard p {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: flex-start;
  justify-items: flex-start;
  overflow-wrap: break-word;
  max-width: 13em;
  margin-right: var(--layout-padding);
}
.CouponCard .row,
.PurchaseCard .row {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1.5em 0.5em 1.5em;
}
.CouponCard img,
.PurchaseCard img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.couponCardButtons {
  border-bottom: 2px dashed;
  margin-bottom: var(--layout-padding);
}
.couponCardButtons h4 {
  margin: var(--layout-padding);
}
.couponCardButtons .row {
  padding: var(--layout-padding);
}
.car {
  background-image: url("\\Assets\\cars.jpg");
}
.restaurant {
  background-image: url("\\Assets\\restaurant.jpg");
}
.food {
  background-image: url("\\Assets\\food.jpg");
}
.electricity {
  background-image: url("\\Assets\\electricity.jpg");
}
.vacation {
  background-image: url("\\Assets\\vacation.jpg");
}
.clothes {
  background-image: url("\\Assets\\clothes.jpg");
}
.CouponCard,
.PurchaseCard {
  background-size: cover;
  /* border: 1px solid var(--darker-color); */
  margin-bottom: 0.8em;
}

.CouponListButtons {
  justify-content: space-evenly;
  padding: var(--layout-padding);
}

.adminEntities {
  width: fit-content;
  margin: var(--layout-padding);
  border: var(--darker-color) 2px solid;
  padding: var(--layout-padding);
  border-radius: 10%;
  background-color: var(--lighter-color);
  transition: 0.5s;
}
.adminEntities:hover {
  filter: invert();
}
.CouponList .CouponCard,
.PurchaseList .PurchaseCard {
  margin: var(--layout-padding);
}
.AdminScreen {
  border: 2px solid var(--control-admin-bg);
}
.CompanyDetails {
  border: 2px solid var(--control-company-bg);
}
.CustomerDetails {
  border: 2px solid var(--control-customer-bg);
}
.CouponListButtons label,
.PurchaseListButtons label {
  margin: var(--layout-padding);
}
.PurchaseItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--layout-padding);
  box-shadow: 8px 6px 8px -2px var(--darker-color);
  border: 1px solid;
  padding-bottom: var(--layout-padding);
}
.About {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  margin: auto;
  padding: 2em;
}
.About p {
  text-align: justify;
  margin-bottom: var(--layout-padding);
}